#board{
    width: 512px;
    height: 512px;
    display: grid;
    grid-gap: 0.5%;
    grid-template-columns: repeat(11, 9.090909090909091% );
    grid-template-rows: repeat(11, 9.090909090909091%);
    }

#controls{
    margin-top: 10%;
    width: 532px;
    background: #f5f5f5;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.4);

    padding: 1.5%;
}

#rollResult {
    visibility: hidden;
}

#playerTurn {
    width: 10%;
    height: 10%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 90vh;
    background-color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
}

.myBtn {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field {
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    border-radius: 100%;
    background-color: gainsboro;

    display: flex;
    align-items: center;
    justify-content: center;
}

button:disabled{
    background-color: darkgray;
    border-color: gray;
}

/* .redPlayer{ background-color: red; }*/

.text{
    display: flex;
    align-items: center;
    justify-content: center }
.longText{
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;}

.arrow{ width: 80%;}
.playIcon{ width: 110%; padding-top:5%}

.turn90{ transform: rotate(90deg);}
.turn180{ transform: rotate(180deg);}
.turn270{ transform: rotate(270deg);}

.lightred { background-color: lightcoral;}
.lightblue { background-color: lightblue;}
.lightgreen { background-color: lightgreen;}
.lightyellow { background-color: lightgoldenrodyellow;}
.red { background-color: red;}
.blue { background-color: blue;}
.green { background-color: green;}
.yellow { background-color: yellow;}

.red-border{ border-color: red; }
.blue-border{ border-color: blue; }
.green-border{ border-color: green; }
.yellow-border{ border-color: yellow; }